mixin template()
  .sc-table
    el-row.tool-bar(v-if="showActionBar")
      el-col.actions(
        v-bind='innerActionsDef.colProps'
        v-if='actionsShow')
        el-button(
          v-for="action in innerActionsDef.def",
          @click="action.handler",
          :icon='action.icon',
          :key="action.namcoe",
          :type='action.buttonProps && action.buttonProps.type || "primary"'
          v-bind='action.buttonProps') {{action.name}}
      el-col.filters(
        v-bind='innerCheckboxFilterDef.colProps'
        v-if='checkboxShow')
        checkbox-group(:checks='innerCheckboxFilterDef.def', @checkChange='handleCheckBoxValChange')
      el-col.search(
        :span='innerSearchDef.colProps && innerSearchDef.colProps.span || 5'
        v-bind='innerSearchDef.colProps'
        v-if='searchShow')
        el-input(
          v-model='searchKey',
          :icon='innerSearchDef.inputProps && innerSearchDef.inputProps.icon || "search"',
          v-bind='innerSearchDef.inputProps')
    .custom-tool-bar
      slot(name='custom-tool-bar')

    el-table(
      ref='elTable',
      :data='curTableData',
      @sort-change='handleSort',
      v-bind='innerTableProps',
      style='width: 100%')&attributes(attributes)
      slot
      div(slot='append')
        slot(name='append')
      el-table-column(
        :prop='actionColProp',
        v-if='actionColShow',
        :fixed='innerActionColDef.fixed',
        :label='innerActionColDef.label',
        :type='innerActionColDef.type',
        :width='innerActionColDef.width',
        :minWidth='innerActionColDef.minWidth')
        template(scope='scope')
          .action-list
            span(v-for='action in innerActionColDef.def')
              el-button(
              :type='action.type || "text"',
              :icon='action.icon',
              @click='action.handler(scope.row, scope.$index, scope.column, scope.store)')
                | {{action.name}}

    .pagination-wrap(v-if='paginationShow')
      el-pagination(
        @size-change='handleSizeChange',
        @current-change='handlePageChange',
        :current-page='currentPage',
        :page-sizes='innerPaginationDef.pageSizes',
        :page-size='innerPageSize',
        :layout='innerPaginationDef.layout',
        :total='total')
